.register{
 font-size:22px;	
}

a{
 text-decoration:none;
}

/*
#signupIn{
 display: none;	
} 
*/
img{
	margin-top:-10px;
	max-width:200%;
	max-height:200%;
}

.MidImg{
  max-height:200px;
  max-weight:100%;	
  margin-left:30px;
}

.addAdv{
	width:150px;
	height:50px;
	background-color:#1c9d95;
	color: white;
	margin-right:15px;
	}
	
.addAdv:hover{
	background-color:#1a8f88;
}

.myAddAdvbtn{
	background-color:#1c9d95;
	color: white;
}

.myAddAdvbtn:hover{
	background-color:#1a8f88;
}	
